# ignore converted eps files
*-eps-converted-to.pdf

# ignore .gifs
*.gif

# ignore .mats
*.mat

# ignore temporary latex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
