# ignore converted eps files
*-eps-converted-to.pdf

# ignore some Matlab files
*.mat
*.asv

# ignore temporary latex files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc

# ignore Rennie's comment files
*_MR.docx
